node_modules/
playwright-report/
test-results/
fonts/*.woff2
tests/**/*.png

logo.png
logo-apple-touch.png
fonts/poppins.css
vendor/fontawesome/all.min.css
vendor/webfonts/*.woff2
vendor/webfonts/*.ttf
